html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  min-width: 800px;
  background-image: url(/images/bg.gif);
  font-family: helvetica, arial, sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td, table tr th {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:link {
  color: #6F8F8F;
}

a:visited {
  color: #8F6F6F;
}

.clear {
  clear: both;
}

div#wrapper {
  position: relative;
}

div#column {
  width: 600px;
  margin-left: auto;
  margin-right:auto;
  background: url('/images/transparent_bg.png');
  color: #fff;
  padding: 0 30px;
}

p {
  padding: 10px 0;
}

h1 {
  padding: 10px 0;
  font-size: 1.4em;
  font-family: Verdana, Geneva, sans-serif;
  color: #bfb;
}

h2 {
  padding: 10px 0;
  font-size: 1.1em;
  color: #fff;
}

div#footer {
  margin: 20px 0;
}

div#entry {
  text-align: center;
  position: relative;
  padding: 50px;
  }

  div#entry div#content {
    width: 500px;
    text-align: left;
    margin: 20px 0;
    }

    div#entry div#content div#info {
      text-align: right;
      font-size: .8em;
      color: #bfb;
    }

div.content_select {
  border: 1px solid #fff;
  padding: 10px;
  margin: 20px 0;
}

div#approver {
  border: 1px solid #fff;
  padding: 10px;
}

img#face_slide {
  width: 500px;
}

div.entry_box {
  width: 300px;
  margin: 20px;
  padding: 10px 25px 5px 25px;
  background: url('/images/transparent_bg.png');
  color: #fff;
  float: left;
  }

  div.entry_box div.face {
    }

    div.entry_box div.face a img {
      width: 300px;
    }

  div.entry_box div.content {
    width: 300px;
    text-align: left;
    margin: 20px 0;
    }

    div.entry_box div.content div.info {
      text-align: right;
      font-size: .8em;
      color: #bfb;
    }

